//Media Queries//


// 424px and below
@media screen and (max-width: 424px) {
  .container {
    .box {
      width: 100%;
      button {
      margin-bottom: 20px;
      }
      h5 {
        padding: 0;
        margin: 0 3px 3px 0;
      }
    }
  }
  #top {
    background-size: cover;
  }
}

//425px and higher
@media screen and (min-width: 425px) {
  .container {
    .box {
      width: 47.3%;
      button {
        width: 60%;
        font-size: .6em;
      }
    }
  }
}

//768px and higher
@media screen and (min-width: 768px) {
  .container {
    .box {
      width: 48.6%;
    }
  }
}
